<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <form [formGroup]="loginForm" (submit)="onSubmit()" class="form-inline">

      <div id="mydiv">

          <div style="background:green; color: white;" class="card-header success-color white-text">
              <p class="mb-0" style="text-align: center">
                  Rabo Bank
                  </p>
          </div>
    
          <div class="card-body">
    
          
                  <div class="row">
    
                    <div class="col-sm-3">User Name</div>&nbsp;
                  
    
                    <div class="col-sm-1">
                      <input type="text" class="form-control" formControlName="name"  placeholder="User Name" id="name" name="name">
                    </div> 
                    <div class="col-sm-8">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                            <div *ngIf="name.errors.required">
                              User Name is required.
                            </div>
                          </div>
                  </div>
                </div>

              
                   <br>
                 
    
              
                  <div class="row">
    
                    <div class="col-sm-3">Password</div> &nbsp;
    
                    <div class="col-sm-1">
                      <input type="password" class="form-control" formControlName="password"
                        placeholder="Password" id="password" name="password">
                    </div>
                    <div class="col-sm-8">
              
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                            <div *ngIf="password.errors.required">
                              Password is required.
                            </div>
                          </div>
                    </div>
                  </div>
              
            
             
             <br>

             <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-7">
                  <button type="submit" class="btn btn-success">Login</button>&nbsp;
                  <button type="reset" class="btn btn-primary ">Cancel</button>&nbsp;
                </div>
               
              </div>

              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-6">
                    
                  </div>
                  <div class="col-sm-4">
                  <button type="button" class="btn btn-link" (click)="signUp()">New Account</button>
                </div>
                </div>
             



    
    
           
          </div>

          <div class="card-footer text-muted success-color white-text">
              <p class="mb-0" style="text-align: center">
              @RaboBank
              </p>
            </div>
        </div>
    
    
    </form>

