<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Create Account</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      
        <div class="row">
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="User name">
            </div>
            <div class="col-sm-2">
              <input type="button" class="btn btn-info float-left" value="Check Availability">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" placeholder="Phone Number">
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-2">
              <input type="number" class="form-control" placeholder="Start Balance">
            </div>
            <div class="col-sm-2">
              <input type="submit" class="btn btn-success float-left" value=" Submit">
            </div>
          </div>

    </div>

    
  </div>